.divs {
  min-height: 850px;
  padding-top: 84px;
}

.divs__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 956px;
  padding-left: 55px;
  padding-right: 55px;
  .make-center();
}

.divs__slide-switch {

}

.divs__panel {
  .make-flex-sb();
  width: 211px;
}
