.reset-list() {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.make-center() {
  margin-left: auto;
  margin-right: auto;
}

.init-list() {
  .reset-list();
  .make-center();
}

.make-flex() {
  display: flex;
  flex-wrap: wrap;
}

.make-flex-sb() {
  .make-flex();
  justify-content: space-between;
}
