.range {
  .make-flex-sb();
  width: 306px;
  min-height: 37px;
}

.range__caption {
  width: 188px;

  text-align: left;
}

.range__body {
  .make-flex-sb();
  justify-content: space-between;
  width: 110px;
}

.range__time-field-wrap {
  margin-top: -3px;
}

.range__dash {
  margin-top : -1px;

  color: @grey0;
}
