.schedule {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  min-width: 310px;
  max-width: 1030px;
  min-height: 525px;
  padding-top: 56px;

  background-color: @white;
}

.schedule__h3 {
  margin-top: 0;
  margin-bottom: 34px;
}
