.time-field-wrap {
  position: relative;

  width: 42px;

  @-moz-document url-prefix() {
    width: 37px;
  }

  height: 40px;

  @-moz-document url-prefix() {
    height: 31px;
  }

  overflow-x: hidden;

  @-moz-document url-prefix() {
    border-bottom: 1px solid @grey1;
  }

  ::after {
    content: '';

    position: absolute;

    bottom: 9px;
    left: 3px;

    width: 36px;
    height: 1px;

    background-color: @grey1;
  }
}

.time-field-wrap__time-field {
  /* Firefox */
  @-moz-document url-prefix() {
    margin-left: -4px;

    letter-spacing: -1pt;
  }

  border: none;

  outline: none;
}
